@import "../../assets/sass/colors.scss";

.chart-selector {
	width: 100%;
	display: flex;

	padding: 10px;
	padding-left: 0;
	padding-right: 0;
	justify-content: center;

	align-items: center;
	color: white;

	transition: 0.5s;
	user-select: none;
}

.chart-selector-selected {
	background-color: $click-background-color;
}

.chart-selector:first-child {
	margin-top: 20%;
}

.chart-selector:hover {
	background-color: $hover-background-color;
}

.chart-selector:active {
	background-color: $click-background-color;
}

.chart-selector-icon {
	display: flex;
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	box-shadow: black 1px 1px;
	overflow: hidden;
	justify-content: center;
	align-content: center;
}
