@import "../assets/sass/colors.scss";

.chart-list {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: $unselected-background-color;
}

@media only screen and (max-width: 600px) {
	.chart-list {
		width: 70px;
		min-width: 70px;
	}
}

@media only screen and (min-width: 600px) {
	.chart-list {
		width: 150px;
		min-width: 150px;
	}
}

@media only screen and (min-width: 992px) {
	.chart-list {
		width: 200px;
		min-width: 200px;
	}
}
