.chart-visualize {
	margin-right: 0;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 12px;
}

@media only screen and (max-width: 600px) {
	.chart-visualize {
		margin-left: 0;
		margin-right: 0;
	}
}

@media only screen and (min-width: 600px) {
	.chart-visualize {
		margin-left: 5%;
		margin-right: 5%;
	}
}

@media only screen and (min-width: 992px) {
	.chart-visualize {
		margin-left: 15%;
		margin-right: 15%;
	}
}
