@import "../assets/sass/colors.scss";

.chart-editor {
	height: 100vh;
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
	background-color: $chart-editor-background-color;
	color: white;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	justify-items: center;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: black;
	padding: 10px;
	width: 100%;
}

@media only screen and (max-width: 600px) {
	.chart-logo {
		margin-top: 20%;
		width: 40%;
	}
}

@media only screen and (min-width: 600px) {
	.chart-logo {
		margin-top: 20%;
		width: 20%;
	}
}

@media only screen and (min-width: 992px) {
	.chart-logo {
		margin-top: 20%;
		width: 10%;
	}
}
