$chart-editor-background-color: rgb(24, 36, 34);
$chart-dataset-input-background-color: #143a6a;
$chart-dataset-input-background-color2: rgb(14, 38, 67);
$unselected-background-color: #1c0d11c3;
$hover-background-color: #0e2c50;
$click-background-color: #7b58e4;
$input-background-color: rgb(48, 70, 67);
